/** @format */

header {
	font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
	font-size: 30px;
	color: white;
	font-weight: 300;
	background-color: rgb(179, 24, 24);
	text-align: center;
	padding: 20px;
}

.container {
	margin: 0;
	width: 100%;
	padding-top: 20px;
	clear: both;
	display: flex;
	align-content: center;
	justify-content: center;
}

section {
	overflow: auto;
	clear: both;
	width: 100%;
}

#asideSearch {
	height: 100%;
	position: fixed;
	top: 90px;
	right: 0;
	background-color: navy;
	color: white;
}

h1 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 25px;
	text-align: center;
	padding: 20px 5px 10px 10px;
}

body {
	font-size: 16px;
	line-height: 1;
}

.fas {
	color: white;
}

h2 {
	font-family: Arial, Helvetica, sans-serif, sans-serif;
	font-size: 30px;
	text-align: left;
	font-weight: bolder;
	padding: 20px;
}

p {
	padding-bottom: 250px;
	color: grey;
}

a {
	font-size: 18px;
	color: grey;
	line-height: 35px;
}

.card-body {
	text-align: center;
	padding-bottom: 15px;
	font-size: 12px;
	line-height: 20px;
	color: black;
	border: none;
}